<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Abrir Requerimento</title>


<!-- <script>
    function preenche_radio(){
        var turno = "{{usuario.turno}}";
        document.getElementById(turno).checked = true;
        // alert(turno); 
    }
</script> -->
</head>
<body>

<h1 class="titulo">Abrir Requerimento</h1>

<form class="form-card" action="/requerimento/tela_adicionar/" method="post">



    
    
    <button type="submit">Salvar</button>


</form>


<a href="/alunos"> voltar </a>


</body>
</html>
